{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Impacto de pandemia en Universitarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
<!--

-->
</head>

<body>
    <!-- Barra Superior de Información -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <a class="navbar-sm-brand text-light text-decoration-none" >Etapa 2 - Tarea Herramientas de Productividad</a>
                    <a class="navbar-sm-brand text-light text-decoration-none" > | | |</a>
                    <a class="navbar-sm-brand text-light text-decoration-none">Grupo #3</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="../../inicio">
                HDP - Cov
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="../../inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2020">2020</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2021">2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2022">2022</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->


        <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Continuidad en la educación en 2022 </h1>
                    <p>
                        Este año es donde muchas instituciones de educación superior  priorizaron la reapertura para ciertos grupos de estudiantes, como aquellos que están
                        en los últimos años de sus programas de estudio o aquellos que necesitan acceder a laboratorios y equipos especializados
                        para completar sus prácticas o proyectos de investigación.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/about-hero.png' %}"  width="500" height="500">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

<div class="container">
        <br>
    <center><h1> Universidad Nacional informe 2022 </h1>
    <br></center>
    <h2>Un aproximado de 7,000 alumnos abandonaron sus estudios por no contar con los recursos para seguir las clases en línea.</h2>
    <br>




        <div class="row justify-content-center">
            <p> La Universidad de El Salvador (UES) retomará las clases presenciales hasta 2022, a excepción de las asignaturas que requieran laboratorios, para evitar aglomeraciones que propicien contagios de covid-19, informó este miércoles Roger Arias, rector de este centro de educación superior.</p>

<p>En la entrevista Frente a Frente, de la Telecorporación Salvadoreña (TCS), Arias explicó que el plan inicial de la UES era reabrir las aulas en el segundo ciclo de este año. Aunque el decreto legislativo 90 solo prohíbe cuatro tipo de eventos públicos y privados, con el fin de evitar aglomeraciones, la UES decidió aplazar las clases presenciales hasta el próximo año.</p>

<p>La aparición del covid-19 obligó a todos los centros educativos a cerrar sus puertas desde marzo de 2020 y fue hasta el 6 de abril de este año que El ministerio de Educación (MINED) comenzó un proceso gradual y voluntario de regreso a las aulas.</p>

<p>Arias reconoció que este escenario impidió que muchos estudiantes continuaran su educación a distancia y reveló que un aproximado de 7,000 alumnos de la UES - la única universidad privada del país - abandonaron sus carreras por no contar con un dispositivo para conectarse a las clases o por no tener acceso a internet.</p>

<p>El rector también reconoció que la enseñanza a través de una computadora no es la misma que recibir clases en un aula, interactuando tanto con el docente como con otros estudiantes. Pero insistió en que, para prevenir aglomeraciones, iniciarán hasta 2022.</p>

<p>“La UES tiene hoy por hoy más de 60,000 estudiantes”, dijo Arias. Los salones de clases tienen la capacidad para albergar a 40 estudiantes, pero con la cantidad de alumnos inscritos en los grupos de las asignaturas, superan a los 70 por aula. “De manera que evitar la aglomeración y evitar o practicar el distanciamiento es materialmente imposible”, agregó.</p>

<p>Arias explicó que la universidad reorientó su planificación y solo las materias que requieran de laboratorios se harán presenciales, guardando las medidas de bioseguridad.

<p>Además, se refirió al presupuesto de $16 millones para expandir la infraestructura de la universidad. “Está la construcción de la sede de Chalatenango y la sede de Morazán en Gotera”, recordó. La asignación para cada una es de $2 millones y el resto se utilizará en mejorar las instalaciones ya existentes.</p>

<p>Arias aseguró que ya se encuentran en el proceso para la elaboración de los requerimientos técnicos para las adjudicaciones y proyectan iniciar con dichas construcciones en el último trimestre del año.</p>
        </div>
</div>


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Sitio realizado por estudiantes de la asignatura HDP115 - Ciclo I-2023
                            | AV21009 - MC21105 - MR21105
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>