{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Información 2020</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
<!--

-->
</head>

<body>
    <!-- Barra Superior de Información -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <a class="navbar-sm-brand text-light text-decoration-none" >Etapa 2 - Tarea Herramientas de Productividad</a>
                    <a class="navbar-sm-brand text-light text-decoration-none" > | | |</a>
                    <a class="navbar-sm-brand text-light text-decoration-none">Grupo #3</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="../../inicio">
                HDP - Cov
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="../../inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2020">2020</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2021">2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2022">2022</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

<br>
<div class="container">
    <center><h1>2020:El año de la transición a modalidad virtual</h1></center>
    </div>

</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><img src="https://d11cuk1a0j5b57.cloudfront.net/blog/wp-content/uploads/2019/02/escritorio-2.jpg"class="d-block w-50" alt="..." ></center>
      </div>
      <div class="carousel-item">
        <center><img src="https://www.eliaguardiola.com/wp-content/uploads/2018/08/trabalho-e-estudo-como-conciliar.png" class="d-block w-50" alt="..."></center>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>



  <div class="container">
    <div class="row justify-content-center">
        <center><h3>La palabra que utilizaría para describir el año 2020 en el ámbito de la educación en El Salvador
            es "desafío".</h3></center>
        <p> <br>
             La razón de esto es que la pandemia de COVID-19 presentó desafíos significativos
            para el sistema educativo y obligó a los educadores, estudiantes y familias a adaptarse a un
            nuevo modelo de enseñanza y aprendizaje. La transición repentina a la educación en línea y la
            necesidad de adaptar los planes de estudios y los métodos de evaluación para un entorno virtual
            fueron solo algunos de los desafíos que enfrentaron los actores educativos. A pesar de estos desafíos,
             muchos educadores, estudiantes y familias trabajaron juntos para encontrar soluciones creativas y
              mantener el aprendizaje en marcha en medio de la adversidad.</p>
  </div>




  <div class="row">
    <div class="col-8">
        <p>
            <br>
            <br>
            <br>
            En marzo de 2020, Zoom registró un aumento del 535% en su tráfico diario en
            comparación con diciembre de 2019. Por su parte, Microsoft Teams registró un aumento
             de más del 500% en su tráfico diario en marzo de 2020 en comparación con noviembre de
             2019. Skype, por otro lado, ha visto disminuir su popularidad como plataforma de
             videoconferencia durante la pandemia, aunque todavía se utiliza ampliamente para llamadas
              de voz y video entre particulares. Además de estas plataformas, también hay otras opciones
              de videoconferencia disponibles, como Google Meet, Cisco Webex y GoToMeeting, entre otras.
        </p>
    </div>
<div class="col-4">
    <div class="card" style="width: 25rem;">
        <img src="{% static 'img/grafica herramientas.jpg' %}" class="card-img-fluid rounded" alt="...">
        <div class="card-body">
          <p class="card-text">Grafica de herramientas con los resultados obtenidos</p>
        </div>
      </div>

</div>
</div>
</div>


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br>


        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Sitio realizado por estudiantes de la asignatura HDP115 - Ciclo I-2023
                            | AV21009 - MC21105 - MR21105
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>