{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Impacto de pandemia en Universitarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
<!--

-->
</head>

<body>
    <!-- Barra Superior de Información -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <a class="navbar-sm-brand text-light text-decoration-none" >Etapa 2 - Tarea Herramientas de Productividad</a>
                    <a class="navbar-sm-brand text-light text-decoration-none" > | | |</a>
                    <a class="navbar-sm-brand text-light text-decoration-none">Grupo #3</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="../../inicio">
                HDP - Cov
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="../../inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2020">2020</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2021">2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2022">2022</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->


    <div class="container">
        <br>
    <center><h1> 2021: Adaptacion y resolucion de la poblacion educativa al cambio</h1>
    <br></center>
    <h2>Ansiedad y estres</h2>




        <div class="row justify-content-center">
            <p> La ansiedad y el estrés son problemas de salud mental comunes que afectan a millones de personas en
                todo el mundo. La pandemia ha aumentado estos problemas en muchos estudiantes universitarios.
                 La ansiedad se manifiesta en forma de miedo, preocupación y estrés. El estrés, por otro lado,
                  es la respuesta física y emocional del cuerpo ante un desafío o situación estresante. Ambos
                  problemas son comunes en la vida universitaria, pero la pandemia ha aumentado su frecuencia e
                  intensidad.</p>
        </div>

        <h2>Centro de Investigación de la Opinión Pública Salvadoreña (CIOPS) de la Universidad
            Tecnológica de El Salvador</h2>


            <div class="row justify-content-center">
                <p> Se realizó una investigación durante el período del 21 al 28 de mayo del año 2021,
                     la cual tenía como principal objetivo evaluar la decisión que el Ministerio de Educación
                      Ciencia y Tecnología (Mineducyt) tomó para dar inicio a los procesos de continuidad educativa
                       a raíz de la situación provocada por la COVID-19. El marco de referencia para el cálculo
                        de la muestra fue la distribución del patrón padrón electoral por departamento. Esta fue
                        distribuida de acuerdo al peso poblacional de los 14 departamentos del país y en los 90
                        municipios más representativos, La muestra fue de 1.275 habitantes y el error de la muestra
                         fue ± 2.14%, con un nivel de confianza del 95 %. Para el levantamiento de información.</p>
            </div>



            <div class="row">
                <div class="col-8">
                    <h3>Resultados</h3>
                    <h5>
                        PREGUNTA: <br>
                        ¿Estuvo de acuerdo con la decisión tomada por el ministerio de educación al reanudar
                         las clases de manera semi presencial a partir del 6 de abril del año 2021?
                    </h5>
                </div>
                <div class="col-4">
                    <img src="{% static 'img/grafica 1.jpg' %}" class="img-fluid rounded">
                </div>
            </div>

            <br>



        <div class="col">
            <p>
                según la opinión y percepción de los que conformaron la muestra, el 50.27 % evaluó como
                excelentes las acciones y el trabajo realizado por el gobierno central para enfrentar la
                 crisis provocada por la pandemia COVID-19, el 27.29 % las evaluó de muy buenas y el 18.12 %
                 buenas. Esto nos hace el 96.3% de entrevistados que evalúan de una forma positiva las acciones
                 del Gobierno. <br>
                 Se consultó a la población entrevistada que mencionara cuáles de las instituciones considera que ha tenido
                 mejor desempeño para enfrentar la crisis de la COVID-19, sobresaliendo entre ellas el Minsal, con un 22.05 %,
                seguido del Ministerio de Defensa, con el 19.06%, y del Mineducyt, con un 17.97 %.

            </p>
        </div>

      <center><img src="{% static 'img/tabla 1.jpg' %}"class="img-fluid rounded" width="500" ></center>
        <br>




    </div>



    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Sitio realizado por estudiantes de la asignatura HDP115 - Ciclo I-2023
                            | AV21009 - MC21105 - MR21105
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>