{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Impacto de pandemia en Universitarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
<!--

-->
</head>

<body>
    <!-- Barra Superior de Información -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <a class="navbar-sm-brand text-light text-decoration-none" >Etapa 2 - Tarea Herramientas de Productividad</a>
                    <a class="navbar-sm-brand text-light text-decoration-none" > | | |</a>
                    <a class="navbar-sm-brand text-light text-decoration-none">Grupo #3</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="../../inicio">
                HDP - Cov
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="../../inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2020">2020</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2021">2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../info2022">2022</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/banner_img_01.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Efectos</b> de la pandemia</h1>
                                <h3 class="h2">en la Educación Universitaria</h3>
                                <p>
                                    A nivel universitario se puede decir que los efectos se han sentido en diferentes áreas,
                                    desde la transición al aprendizaje en línea hasta el impacto en la salud mental de cada
                                    uno de los estudiantes y las dificultades financieras que muchos enfrentaron.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/banner_img_02.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">EDUCACIÓN A DISTANCIA</h1>
                                <h3 class="h2">La respuesta de solución inmediata </h3>
                                <p>
                                    La educación a distancia fue una de las respuestas más comunes que las instituciones de educación
                                    superior adoptaron para seguir brindando enseñanza durante la pandemia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/banner_img_03.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">CAMBIOS SIGNIFICATIVOS</h1>
                                <h3 class="h2">Presencialidad VS lo virtual </h3>
                                <p>
                                    Ha quedado claro que la educación universitaria ha sufrido cambios significativos que es posible que sean permanentes.
                                    El aprendizaje en línea ha demostrado ser una opción viable
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Información distribuida por años</h1>
                    <p>
                    La pandemia del COVID-19 ha tenido un impacto significativo en el ámbito universitario durante los años 2020 al 2022.
                    Las instituciones educativas de todo el mundo se han visto obligadas a adaptarse rápidamente a las restricciones impuestas
                    para contener la propagación del virus. En esta sección, exploraremos y resumiremos los efectos de la pandemia en las universidades
                    y cómo ha afectado a estudiantes, profesores y el sistema educativo en general.
                </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="{% static 'img/feature_prod_01.jpg' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">

                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Adaptación</a>
                            <p class="card-text">
                                han ajustado los métodos de evaluación para adaptarse al entorno en línea.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="{% static 'img/feature_prod_02.jpg' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">

                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Impacto en los universitarios</a>
                            <p class="card-text">
                                Las universidades han fortalecido los servicios de apoyo estudiantil para abordar los desafíos emocionales y de salud mental.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="{% static 'img/feature_prod_03.jpg' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">

                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Estrategias de Adaptación</a>
                            <p class="card-text">
                                Durante la pandemia del COVID-19, las instituciones educativas universitarias han implementado diversas
                                estrategias de adaptación para hacer frente a los desafíos planteados por la situación.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-12 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Objetivos</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            1.	Evaluar el impacto de cómo ha afectado la pandemia a la educación universitaria
                            en términos de calidad del aprendizaje, bienestar de los estudiantes y adaptación de las instituciones educativas.
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            2.	Analizar las estrategias utilizadas por las instituciones educativas para adaptarse a la pandemia y cómo han
                            afectado la experiencia de aprendizaje de los estudiantes.
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            3.	Identificar los desafíos y oportunidades que se presentan para la educación universitaria a raíz de la pandemia.
                        </li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">

                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Sitio realizado por estudiantes de la asignatura HDP115 - Ciclo I-2023
                            | AV21009 - MC21105 - MR21105
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>